body{
    background-image: url("Images/movinggoods.png");
    background-repeat: no-repeat;
    background-size: 1300px 580px;
}
header{
display: flex;

}
    header img{
        width: 300px;
    }
    nav{
        background-color: #0a4570;
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        
    }
    nav ul{
        display: flex;
        
    }
    nav ul li {

        background-color: #0a4570;
        list-style: none;
        text-decoration: none;

    }
    nav ul li a{
        text-decoration: none;
        color: white;
        padding: 20px;
        font-size: 2em;
        font-weight: bold;
    }
    nav ul li a:hover{
        background-color:white;
        color: #0a4570;
        border-radius: 20px;
    }
    nav ul li a:active{
        color: #0a4570;
    }
    .active a{
        background-color:white;
        color: #0a4570;
        border-radius: 20px;
    }