header{
    display: flex;
}
        header img{
            width: 300px;
            height: 50px;
        }
        nav{
            background-color: #0A4570;
            width: 100%;
            padding: 20px;
            border-radius: 20px;
        }
        nav ul{
            display: flex;
        }
        nav ul li {
            background-color: #0A4570;
            list-style: none;
            text-decoration: none;
        }
        nav ul li a{
            text-decoration: none;
            color: white;
            padding: 20px;
            font-size: 2em;
            font-weight: bold;
        }
        nav ul li a:hover{
            background-color:white;
            color: #0A4570;
            border-radius: 20px;
        }
        nav ul li a:active{
            color: #0A4570;
        }
        .active a{
            background-color:white;
            color: #0A4570;
            border-radius: 20px;
        }


img{
    width: 100%; 
    height: 70vh;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

.container{
  
    margin: 50px auto 0;
    box-sizing: border-box;
}
.row{
    display: flex;
   border-left: 10px solid #ffff;
   
}

.column{
    background: #0a4570;
    display: table-cell;
    padding: 10px;
    width: 33.33333%;
    text-align: center;
    vertical-align: middle;
    border-right: 10px solid #fff;
    border-left: 10px solid #ffff;
    background-image: linear-gradient(to bottom, #0A4570, #fff);
    /* background: linear-gradient(90deg, hsla(205, 84%, 24%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%); */
    border-radius: 25px;
}

.column p{ 
    color: #0A4570;
}
.column h2{
    color: #fff;
}
 h1{color: #0A4570;
text-align: center;
}

/* footer start */

footer {
    display: flex;
    flex-direction: row;
    background-color: #0A4570;
    border-radius: 10px;
}

.copy {
    margin-left: 50px;
    padding-top: 5px;
}

.social p {
    color: white;
}

.copy p {
    color: white;
}

.bttm {
    width: 100%;
}

.bttm h3 {
    color: white;
}

.bttm p {
    color: white;
}

.row-2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5% 0 4%;
}

.cl {
    width: 300px;
    text-align: center;
}

.vs {
    width: 300px;
    text-align: center;
}

.cpy {
    text-align: center;
}

.cyp {
    background-color: #22557E;
    padding: 6px;
}

#ms {
    margin-left: 100px;
}

#vss {
    margin-left: 100px;
}


/* social icons start */

.social {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
}

.social ul li {
    display: inline-block;
}

.fa {
    padding: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-whatsapp {
    background: #34bf49;
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}


/* social icons ends */


/* footer ends */



