img{
    width: 100%;
    height: 70vh;
}

.container{
  
    margin: 50px auto 0;
    box-sizing: border-box;
}
.row{
    display: flex;
   border-left: 10px solid #ffff;
   
}

.column{
    background: #0a4570;
    display: table-cell;
    padding: 10px;
    width: 33.33333%;
    text-align: center;
    vertical-align: middle;
    border-right: 10px solid #fff;
    border-left: 10px solid #ffff;
    background-image: linear-gradient(to bottom, #0A4570, #fff);
    border-radius: 25px;
}
p{
    color: #0A4570;
}
h2{
    color: #fff;
}
h1{color: #0A4570;
text-align: center;
}